ECA.Console/Service References/catalogService/CatalogService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="ECA.Contracts" elementFormDefault="qualified" targetNamespace="ECA.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23062/CatalogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:23062/CatalogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ECA.Model" />
  <xs:complexType name="ArrayOfBookCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookCategory" nillable="true" type="tns:BookCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookCategory" nillable="true" type="tns:ArrayOfBookCategory" />
  <xs:complexType name="BookCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BookCategory" nillable="true" type="tns:BookCategory" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ECA.Model" minOccurs="0" name="Author" nillable="true" type="q1:Author" />
      <xs:element minOccurs="0" name="AuthorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookCategory" nillable="true" type="tns:BookCategory" />
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ECA.Model" minOccurs="0" name="Genre" nillable="true" type="q2:Genre" />
      <xs:element minOccurs="0" name="GenreId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
</xs:schema>