ECA.Console/Service References/catalogService/CatalogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ECA.CatalogServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ECA.CatalogServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ECA.CatalogServices/Imports">
      <xsd:import schemaLocation="http://localhost:23062/CatalogService.svc?xsd=xsd0" namespace="ECA.CatalogServices" />
      <xsd:import schemaLocation="http://localhost:23062/CatalogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23062/CatalogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ECA.Model" />
      <xsd:import schemaLocation="http://localhost:23062/CatalogService.svc?xsd=xsd3" namespace="ECA.Services.FaultContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogService_GetAllBooksGroupedByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksGroupedByCategory" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetAllBooksGroupedByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksGroupedByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetAllBooksGroupedByCategory_BaseServiceFault_FaultMessage">
    <wsdl:part name="detail" element="tns:BaseServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetAllBooksGroupedByCategoryAsString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksGroupedByCategoryAsString" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetAllBooksGroupedByCategoryAsString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksGroupedByCategoryAsStringResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetAllBooksGroupedByCategoryAsString_BaseServiceFault_FaultMessage">
    <wsdl:part name="detail" element="tns:BaseServiceFault" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetBookDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookDetails" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetBookDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetBookDetails_BaseServiceFault_FaultMessage">
    <wsdl:part name="detail" element="tns:BaseServiceFault" />
  </wsdl:message>
  <wsdl:portType name="ICatalogService">
    <wsdl:operation name="GetAllBooksGroupedByCategory">
      <wsdl:input wsaw:Action="ECA.CatalogServices/ICatalogService/GetAllBooksGroupedByCategory" message="tns:ICatalogService_GetAllBooksGroupedByCategory_InputMessage" />
      <wsdl:output wsaw:Action="ECA.CatalogServices/ICatalogService/GetAllBooksGroupedByCategoryResponse" message="tns:ICatalogService_GetAllBooksGroupedByCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="ECA.CatalogServices/ICatalogService/GetAllBooksGroupedByCategoryBaseServiceFault" name="BaseServiceFault" message="tns:ICatalogService_GetAllBooksGroupedByCategory_BaseServiceFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooksGroupedByCategoryAsString">
      <wsdl:input wsaw:Action="ECA.CatalogServices/ICatalogService/GetAllBooksGroupedByCategoryAsString" message="tns:ICatalogService_GetAllBooksGroupedByCategoryAsString_InputMessage" />
      <wsdl:output wsaw:Action="ECA.CatalogServices/ICatalogService/GetAllBooksGroupedByCategoryAsStringResponse" message="tns:ICatalogService_GetAllBooksGroupedByCategoryAsString_OutputMessage" />
      <wsdl:fault wsaw:Action="ECA.CatalogServices/ICatalogService/GetAllBooksGroupedByCategoryAsStringBaseServiceFault" name="BaseServiceFault" message="tns:ICatalogService_GetAllBooksGroupedByCategoryAsString_BaseServiceFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookDetails">
      <wsdl:input wsaw:Action="ECA.CatalogServices/ICatalogService/GetBookDetails" message="tns:ICatalogService_GetBookDetails_InputMessage" />
      <wsdl:output wsaw:Action="ECA.CatalogServices/ICatalogService/GetBookDetailsResponse" message="tns:ICatalogService_GetBookDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="ECA.CatalogServices/ICatalogService/GetBookDetailsBaseServiceFault" name="BaseServiceFault" message="tns:ICatalogService_GetBookDetails_BaseServiceFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>